<!-- <div class="container text-center gsap-up" style="margin-top: 200px;">
        <h1>404 Page Not Found!</h1>
    </div> -->
<style>
    footer {
        display: none;
    }
    body{
        overflow: hidden;
    }

    .footer-space{
        margin-top: 0vh;
    }
</style>

<div class="back">
    <div class="bg-image">
        <img src="\images\home.jpg" alt="error-page-image" class="error-image">
        <div class="all-text">
            <h1 class="all-projects">404 Page not Found !</h1>
        </div>
    </div>
</div>